{% extends 'base.html' %}

{% block body %}

<div id="map" class="map">
    <div class="container-photo">
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <div id="poi_photos" class="carousel-inner row w-100 mx-auto" role="listbox">
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                    {% include 'helpers/card.html' %}    
                </div>
                
                
            </div>
            <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div id="form-mode">
        <div class="form-group">
            <label for="">Pilih Mode</label>
            <select name="mode" id="mode" class="form-control">
                <option value="point_in_polygon">Point in Polygon</option>
                <option value="nearest_poi" selected>Nearest Point</option>
                <option value="photo_bbox">Show Photo by Bbox</option>
            </select>
        </div>
        <div class="form-group form-bbox d-none">
            <button id="btn-show-image" class="btn btn-default btn-sm" type="button">Show Image</button>
        </div>
        <div class="form-group form-pip d-none">
            <div class="input-group">
                <select name="kecamatan" id="kecamatan" class="form-control"></select>
                <div class="input-group-append">
                    <a href="#" id="close_kecamatan" class="btn btn-danger">Clear</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block style_head %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css')}}"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='ol/ol.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='owlcarousel/assets/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='owlcarousel/assets/owl.theme.default.min.css')}}">
{% endblock style_head %}

{% block style_theme %}

<style>
    #map,
    .map {
        width: 100%;
        height: 100vh;
    }

    .container-photo {
        bottom: 0;
        position: absolute;
        display: none;
        width: 100vw;
        background: #FFF;
        z-index: 9999;
        margin:10px;
        padding:10px;
        height: 50vh;

    }

    #form-mode{
        position: absolute;
        z-index:9999;
        right:50px;
        top: 10px;
        background: #FFF;
        padding: 10px
    }

    .container-photo.open {
        display: block;
    }
    .item{
        width: 100%
    }
</style>

<style>

/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

</style>
{% endblock style_theme %}

{% block script_end %}
<script src="https://unpkg.com/axios/dist/axios.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='ol/ol.js') }}"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    let map, view;
    let mode = 'nearest_poi';
    let parser = new ol.format.GeoJSON();
    let mode_dom = $('#mode');
    let selected_features;
    let selectInteraction = new ol.interaction.Select()
    let dragBoxInteraction  = new ol.interaction.DragBox()
    
    const transform = ol.proj.getTransform('EPSG:3857', "EPSG:4326")

    view = new ol.View({
        center: ol.proj.fromLonLat([106.8208828, -6.6169003]),
        zoom: 13,
        maxZoom: 15,
        minZoom: 12,
    });
    let vl_poi = new ol.layer.Vector({
        source: new ol.source.Vector()
    });

    let vl_admin = new ol.layer.Vector({
        source: new ol.source.Vector()
    });

    let vl_pinpoly = new ol.layer.Vector({
        source: new ol.source.Vector()
    })

    let current_layer = vl_admin; 

    map = new ol.Map({
        target: 'map',
        view: view,
        layers: [
            new ol.layer.Tile({
                source: new ol.source.XYZ({
                    url: 'http://mt0.google.com/vt/lyrs=m&hl=en&x={x}&y={y}&z={z}'
                })
            }),
            vl_admin,
            vl_poi,
            vl_pinpoly
        ]
    });
    get_admin();

    map.on('singleclick', onMapClick);

    map.on('moveend', onMoveEnd);

    dragBoxInteraction.on('boxend', function(){
        let extent = dragBoxInteraction.getGeometry().getExtent();
        console.log(extent);
        let bottomLeft = ol.proj.transform(ol.extent.getBottomLeft(extent),
            'EPSG:3857', 'EPSG:4326');
        let topRight = ol.proj.transform(ol.extent.getTopRight(extent),
            'EPSG:3857', 'EPSG:4326');
        if(mode == 'photo_bbox'){
            get_bbox(wrapLon(bottomLeft[0]), bottomLeft[1], wrapLon(topRight[0]), topRight[1])
        }
    });


    map.addInteraction(selectInteraction);
    map.addInteraction(dragBoxInteraction);

    selected_features = selectInteraction.getFeatures();

    $('#kecamatan').on('change', function (e) {
        get_points_in_polygon($(this).val());
    })

    $('#close_kecamatan').on('click', () => vl_pinpoly.getSource().clear())

    $('#btn-show-image').on('click', () => $('.container-photo').toggleClass('open'));

    mode_dom.on('change', function (e) {
        let val = $(this).val();
        change_mode(val);
    })

    selected_features.on(['add', 'remove'], function () {
        let names = selected_features.getArray().map(function (feature) {
            console.log(feature);
            return feature.get('name');
        });        
    });



    $('#carousel-example').on('slide.bs.carousel', function (e) {
        /*
            CC 2.0 License Iatek LLC 2018 - Attribution required
        */
        var $e = $(e.relatedTarget);
        var idx = $e.index();
        var itemsPerSlide = 5;
        var totalItems = $('.carousel-item').length;
    
        if (idx >= totalItems-(itemsPerSlide-1)) {
            var it = itemsPerSlide - (totalItems - idx);
            for (var i=0; i<it; i++) {
                // append slides to end
                if (e.direction=="left") {
                    $('.carousel-item').eq(i).appendTo('.carousel-inner');
                }
                else {
                    $('.carousel-item').eq(0).appendTo('.carousel-inner');
                }
            }
        }
    });


    async function get_bbox(minx, miny, maxx, maxy) {
        const res = await axios.get(`${window.location.origin}/get_bbox?xmin=${minx}&ymin=${miny}&xmax=${maxx}&ymax=${maxy}`);
        const response = res.data;
        const resdata = response.data;
        for(let i = 0;i < resdata.length; i++){
            const el = resdata[i];
            $(`<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3"><div class="card">
                <img src="https://picsum.photos/200/200" class="card-img-top" />
                <div class="card-body">
                <h3 class="card-title">${el.kegiatan}</h3>
                </div>
            </div>
            </div>`).appendTo($('#poi_photos'))
        }
    }


    async function get_poi(lat, lon) {
        vl_poi.getSource().clear();
        const response = await axios.get(`${window.location.origin}/get_poi?lat=${lat}&lon=${lon}&radius=1000`);
        let res = response.data;
        let resdata = res.data;
        console.log(resdata);
        for (let i = 0; i < resdata.length; i++) {
            const el = resdata[i];
            let props = {
                latitude: el.latitude,
                longitude: el.longitude
            }
            let feature = generate_point(props);
            vl_poi.getSource().addFeature(feature)
        }

    }


    async function get_admin() {
        const res = await axios.get(`${window.location.origin}/get_administrasi`)
        const response = res.data;
        const resdata = response.data;
        vl_admin.getSource().clear()
        for (let i = 0; i < resdata.length; i++) {
            const el = resdata[i];
            let options = $(`<option value="${el.kode_kec}">${el.kecamatan}</option>`).appendTo($('#kecamatan'))
            let features = parser.readFeatures(el.geojson);
            features[0].set('kecamatan', el.kecamatan);
            features[0].set('kode_kec', el.kode_kec);
            vl_admin.getSource().addFeatures(features);
        }
    }


    async function get_points_in_polygon(kode) {
        const res = await axios.get(`${window.location.origin}/check_point_in_poly?kode=${kode}`)
        const response = res.data;
        const resdata = response.data;
        vl_pinpoly.getSource().clear()
        for (let i = 0; i < resdata.length; i++) {
            const el = resdata[i];
            let props = {
                latitude: el.latitude,
                longitude: el.longitude
            }
            let feature = generate_point(props);
            vl_pinpoly.getSource().addFeature(feature)
        }

    }


    async function get_pip(lat, lon) {
        const res = await axios.get(`${window.location.origin}/get_pip?lat=${lat}&lon=${lon}`)
        const response = res.data;
        const resdata = response.data;
        if(resdata > 0){
            alert('anda klik di polygon')
        }else{
            alert('diluar polygon');
        }

    }


    function generate_point(props = NULL) {
        const transform4326to3857 = ol.proj.getTransform("EPSG:4326", "EPSG:3857");
        let feature = new ol.Feature(props);
        const iconStyle = default_icon();
        feature.setStyle(iconStyle);
        if (props.longitude == null && props.latitude == null) {
            console.log("kordinat salah");
            return false;
        } else {
            const coordinate = transform4326to3857([
                parseFloat(props.longitude),
                parseFloat(props.latitude),
            ]);
            if (!isNaN(coordinate[0]) && !isNaN(coordinate[1])) {
                const geometry = new ol.geom.Point(coordinate);
                feature.setGeometry(geometry);
                return feature;
            }
        }

        return;
    }


    function change_mode(newmode) {
        vl_pinpoly.getSource().clear();
        vl_poi.getSource().clear();
        mode = newmode;
        if (newmode == 'nearest_poi') {
            $('.form-bbox').addClass('d-none');
            $('.form-pip').addClass('d-none');
        } else if (newmode == 'point_in_polygon') {
            map.removeInteraction(selectInteraction);
            $('.form-pip').removeClass('d-none');
            $('.form-bbox').addClass('d-none');
        } else {
            $('.form-pip').addClass('d-none');
            $('.form-bbox').removeClass('d-none');
        }
    }


    function default_icon() {
        return new ol.style.Style({
            image: new ol.style.Icon({
                anchor: [0.2, 32],
                anchorXUnits: "fraction",
                anchorYUnits: "pixels",
                src: "http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png",
                scale: 0.7,
            }),
        });
    }


    function onMoveEnd(evt) {
        let map = evt.map;
        let extent = map.getView().calculateExtent(map.getSize());
        let bottomLeft = ol.proj.transform(ol.extent.getBottomLeft(extent),
            'EPSG:3857', 'EPSG:4326');
        let topRight = ol.proj.transform(ol.extent.getTopRight(extent),
            'EPSG:3857', 'EPSG:4326');
        if(mode == 'photo_bbox'){
            get_bbox(wrapLon(bottomLeft[0]), bottomLeft[1], wrapLon(topRight[0]), topRight[1])
        }
    }


    function onMapClick(evt) {
        let coordinate = evt.coordinate;
        let hdms = ol.coordinate.toStringHDMS(coordinate);

        let coord4326 = transform([coordinate[0], coordinate[1]]);        
        if (mode == 'nearest_poi') {
            get_poi(coord4326[1], coord4326[0]);
        }else if(mode == 'point_in_polygon'){
            get_pip(coord4326[1], coord4326[0]);
        }else{
            let feature = map.forEachFeatureAtPixel(evt.pixel, function (
                feature,
                layer
            ) {
                current_layer = layer;
                return feature;
            });
            let fkeys = feature.getKeys();
            let fprop = feature.getProperties();
           
        }
    }


    function wrapLon(value) {
        var worlds = Math.floor((value + 180) / 360);
        return value - (worlds * 360);
    }


</script>


{% endblock script_end %}